*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: normal 18px sans-serif;
    color: black;
    background-color:rgb(209, 214, 214);
}

.container-fluid{
    padding:0;
    margin:0;
}




